@charset "UTF-8";

    body{
    background-color: rgb(243, 235, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

    h1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 152, 93);    
    }

    h2{
    color: rgb(228, 152, 13);
    text-decoration:overline underline;
    }

    p{
    text-align: justify;
    }